In [1]:
import pandas as pd
import numpy as np

In [2]:
"""this is what worked to create the existing file 
read in SHARE json records and set encoding to utf-8"""

data = pd.read_json('UCSD_records.json', orient = 'columns')

In [3]:
#take a look at the data- this is only first-level broken out json (note the _source column still contains many fields)
data.head()

,_id,_index,_score,_source,_type,sort
0,46243-B78-8F9,share_customtax_1,NaN,"{u'contributors': [u'Bertrand Bellenot', u'Ani...",creativeworks,[1505096181545]
1,460D5-0F1-870,share_customtax_1,NaN,"{u'contributors': [u'Anirudha Bose', u'marsupi...",creativeworks,[1505096180930]
2,46065-8A1-338,share_customtax_1,NaN,"{u'contributors': [u'S. H. Lee', u'S. C. Esene...",creativeworks,[1505009985066]
3,460C4-C4F-337,share_customtax_1,NaN,"{u'contributors': [u'R. C. Puetter', u'Barbara...",creativeworks,[1505009809752]
4,461F6-6B8-F85,share_customtax_1,NaN,"{u'contributors': [u'Donald Rutherford'], u'da...",creativeworks,[1505009201018]

In [4]:
##create a small subset of data for experimenting
# data[:10000].to_csv('testing_first10k.csv')

In [5]:
#_source contains plenty of other fields we'd like to examine on their own- so can do the same thing to expand that json, this time into index
expanded_data = pd.read_json( (data['_source']).to_json(), orient='index')

In [6]:
#review expanded data- note could further do the same thing for contributors, or affiliations
expanded_data.head()

,affiliations,contributors,date,date_created,date_modified,date_published,date_updated,description,funders,hosts,...,registration_type,retracted,sources,subject_synonyms,subjects,tags,title,type,types,withdrawn
0,"[CERN, CERN, CERN, CERN, CERN, MPIK/CERN, CERN...","[Bertrand Bellenot, Anirudha Bose, Fons Radema...",2017-08-25 00:00:00,2017-09-11T02:16:21.545767+00:00,2017-09-11T02:16:26.21514+00:00,2017-08-25T00:00:00+00:00,2017-09-10T19:07:35+00:00,Patch release of the v6-10 series. See https:/...,NaN,NaN,...,None,0,[DataCite MDS],[],[],"[software, cern.zenodo, cern]",Root - An Object-Oriented Data Analysis Framew...,software,"[software, creative work]",NaN
1,"[CERN, CERN, GSI, LBL, UCSD, CERN, CERN, CERN,...","[Anirudha Bose, marsupial, Andrei Gheata, Stef...",2017-08-25 00:00:00,2017-09-11T02:16:20.930481+00:00,2017-09-11T02:16:20.930452+00:00,2017-08-25T00:00:00+00:00,2017-09-10T19:07:33+00:00,Patch release of the v6-10 series. See https:/...,NaN,NaN,...,None,0,[DataCite MDS],[],[],"[software, cern, cern.zenodo]",Root - An Object-Oriented Data Analysis Framew...,software,"[software, creative work]",NaN
10,[Fudan University - The Fifth People's Hospita...,"[Kun-Liang Guan, Yue Xiong, Minjia Tan, Yan Mo...",2017-09-08 17:06:44,2017-09-09T11:41:34.896519+00:00,2017-09-09T11:41:34.89649+00:00,None,2017-09-08T17:06:44+00:00,,NaN,NaN,...,None,0,[CrossRef],[],[],"[cell biology, molecular biology, biochemistry]",SIRT7 deacetylates DDB1 and suppresses the act...,article,"[article, publication, creative work]",NaN
100,[],"[David A. Holway, John S. Ascher, Keng-Lou Jam...",2017-08-30 17:46:28,2017-08-31T02:50:23.369779+00:00,2017-08-31T02:50:23.369725+00:00,None,2017-08-30T17:46:28+00:00,,"[National Geographic Society, Sigma-Xi Society...",NaN,...,None,0,[CrossRef],[],[],"[general medicine, general biochemistry, genet...",Urbanization-induced habitat fragmentation ero...,article,"[article, publication, creative work]",NaN
1000,"[Boehringer Ingelheim, University of Liverpool...","[Ulrike Weyer-Czernilofsky, Michael Schmid, Ai...",2017-01-01 00:00:00,2017-07-24T02:43:38.33088+00:00,2017-07-25T02:43:18.13262+00:00,2017-01-01T00:00:00+00:00,2017-07-23T00:00:00+00:00,Breast cancer remains the leading cause of can...,NaN,NaN,...,None,0,"[bioRxiv, CrossRef]",[],[],[cancer biology],Blockade of insulin-like growth factors increa...,preprint,"[preprint, publication, creative work]",NaN

In [8]:
# #just checking the 2 datasets are the same length- sanity check really
# print len(data)
# print len(expanded_data)

18751
18751

In [9]:
#can put two datasets back together, and remove "_source" column (which was expanded into expanded_data)
combined_data = pd.concat([data, expanded_data], axis=1)
combined_data = combined_data.drop('_source', axis=1)

In [10]:
combined_data.head()

,_id,_index,_score,_type,sort,affiliations,contributors,date,date_created,date_modified,...,registration_type,retracted,sources,subject_synonyms,subjects,tags,title,type,types,withdrawn
0,46243-B78-8F9,share_customtax_1,NaN,creativeworks,[1505096181545],"[CERN, CERN, CERN, CERN, CERN, MPIK/CERN, CERN...","[Bertrand Bellenot, Anirudha Bose, Fons Radema...",2017-08-25 00:00:00,2017-09-11T02:16:21.545767+00:00,2017-09-11T02:16:26.21514+00:00,...,None,0,[DataCite MDS],[],[],"[software, cern.zenodo, cern]",Root - An Object-Oriented Data Analysis Framew...,software,"[software, creative work]",NaN
1,460D5-0F1-870,share_customtax_1,NaN,creativeworks,[1505096180930],"[CERN, CERN, GSI, LBL, UCSD, CERN, CERN, CERN,...","[Anirudha Bose, marsupial, Andrei Gheata, Stef...",2017-08-25 00:00:00,2017-09-11T02:16:20.930481+00:00,2017-09-11T02:16:20.930452+00:00,...,None,0,[DataCite MDS],[],[],"[software, cern, cern.zenodo]",Root - An Object-Oriented Data Analysis Framew...,software,"[software, creative work]",NaN
2,46065-8A1-338,share_customtax_1,NaN,creativeworks,[1505009985066],[University of California at San Diego (United...,"[S. H. Lee, S. C. Esener, T. J. Drabik, M. A. ...",2017-09-09 19:30:32,2017-09-10T02:19:45.066231+00:00,2017-09-10T02:19:45.066215+00:00,...,None,0,[CrossRef],[],[],[],One-Dimensional Silicon/PLZT Spatial Light Mod...,conference paper,"[conference paper, publication, creative work]",NaN
3,460C4-C4F-337,share_customtax_1,NaN,creativeworks,[1505009809752],"[University of California (United States), Uni...","[R. C. Puetter, Barbara Jones, Scott D. Friedman]",2017-09-09 13:41:12,2017-09-10T02:16:49.752745+00:00,2017-09-10T02:16:49.752713+00:00,...,None,0,[CrossRef],[],[],[],The University of California at San Diego Near...,conference paper,"[conference paper, publication, creative work]",NaN
4,461F6-6B8-F85,share_customtax_1,NaN,creativeworks,[1505009201018],"[Department of Philosophy, University of Calif...",[Donald Rutherford],2017-09-09 06:46:18,2017-09-10T02:06:41.018803+00:00,2017-09-10T02:06:41.018787+00:00,...,None,0,[CrossRef],[],[],[health policy],Nietzsche as perfectionist,article,"[article, publication, creative work]",NaN

In [11]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18751 entries, 0 to 18750
Data columns (total 31 columns):
_id                  18751 non-null object
_index               18751 non-null object
_score               0 non-null float64
_type                18751 non-null object
sort                 18751 non-null object
affiliations         18124 non-null object
contributors         18124 non-null object
date                 18751 non-null datetime64[ns]
date_created         18751 non-null object
date_modified        18751 non-null object
date_published       4689 non-null object
date_updated         14231 non-null object
description          18751 non-null object
funders              9351 non-null object
hosts                97 non-null object
id                   18751 non-null object
identifiers          18751 non-null object
justification        0 non-null float64
language             3696 non-null object
lists                18751 non-null object
publishers           10482 non-null object
registration_type    4 non-null object
retracted            18751 non-null int64
sources              18751 non-null object
subject_synonyms     18751 non-null object
subjects             18751 non-null object
tags                 18751 non-null object
title                18751 non-null object
type                 18751 non-null object
types                18751 non-null object
withdrawn            4 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(26)
memory usage: 4.6+ MB

In [12]:
##select whether you want excel or csv
combined_data.to_excel('SHARE-UCSD-export_reformatted.xlsx',encoding="utf-8", index=False)
combined_data.to_csv('SHARE-UCSD-export_reformatted.csv',encoding="utf-8", index=False)

In [18]:
# testing = pd.read_excel('SHARE-UCSD-export_reformatted.xlsx')
testing = pd.read_csv('SHARE-UCSD-export_reformatted.csv')

In [19]:
#review saved data
testing.head()

,_id,_index,_score,_type,sort,affiliations,contributors,date,date_created,date_modified,...,registration_type,retracted,sources,subject_synonyms,subjects,tags,title,type,types,withdrawn
0,46243-B78-8F9,share_customtax_1,NaN,creativeworks,[1505096181545],"[CERN, CERN, CERN, CERN, CERN, MPIK/CERN, CERN...","[Bertrand Bellenot, Anirudha Bose, Fons Radema...",2017-08-25 00:00:00.000000,2017-09-11T02:16:21.545767+00:00,2017-09-11T02:16:26.21514+00:00,...,NaN,0,[DataCite MDS],[],[],"[software, cern.zenodo, cern]",Root - An Object-Oriented Data Analysis Framew...,software,"[software, creative work]",NaN
1,460D5-0F1-870,share_customtax_1,NaN,creativeworks,[1505096180930],"[CERN, CERN, GSI, LBL, UCSD, CERN, CERN, CERN,...","[Anirudha Bose, marsupial, Andrei Gheata, Stef...",2017-08-25 00:00:00.000000,2017-09-11T02:16:20.930481+00:00,2017-09-11T02:16:20.930452+00:00,...,NaN,0,[DataCite MDS],[],[],"[software, cern, cern.zenodo]",Root - An Object-Oriented Data Analysis Framew...,software,"[software, creative work]",NaN
2,46065-8A1-338,share_customtax_1,NaN,creativeworks,[1505009985066],[University of California at San Diego (United...,"[S. H. Lee, S. C. Esener, T. J. Drabik, M. A. ...",2017-09-09 19:30:32.000000,2017-09-10T02:19:45.066231+00:00,2017-09-10T02:19:45.066215+00:00,...,NaN,0,[CrossRef],[],[],[],One-Dimensional Silicon/PLZT Spatial Light Mod...,conference paper,"[conference paper, publication, creative work]",NaN
3,460C4-C4F-337,share_customtax_1,NaN,creativeworks,[1505009809752],"[University of California (United States), Uni...","[R. C. Puetter, Barbara Jones, Scott D. Friedman]",2017-09-09 13:41:12.000000,2017-09-10T02:16:49.752745+00:00,2017-09-10T02:16:49.752713+00:00,...,NaN,0,[CrossRef],[],[],[],The University of California at San Diego Near...,conference paper,"[conference paper, publication, creative work]",NaN
4,461F6-6B8-F85,share_customtax_1,NaN,creativeworks,[1505009201018],"[Department of Philosophy, University of Calif...",[Donald Rutherford],2017-09-09 06:46:18.000000,2017-09-10T02:06:41.018803+00:00,2017-09-10T02:06:41.018787+00:00,...,NaN,0,[CrossRef],[],[],[health policy],Nietzsche as perfectionist,article,"[article, publication, creative work]",NaN

In [20]:
print testing['affiliations'][:1]
print type(testing['affiliations'])

0    [CERN, CERN, CERN, CERN, CERN, MPIK/CERN, CERN...
Name: affiliations, dtype: object
<class 'pandas.core.series.Series'>

In [21]:
"""code to remove duplicates from remaining lists in data"""
"""set a list of columns to loop through and de-dup and initialize a counter to loop through the list of columns"""
de_dup_list = ["affiliations", "contributors", "publishers", "tags"]
s = 0

while s < len(de_dup_list):
    """select a column from the de_dup_list of columns"""
    selected_column = de_dup_list[s]
    print selected_column 
    """to confirm selected column"""
    """set counter for row within that column"""
    i = 0
    """set new_col to a blank column- this is where de-duped row values will be appended"""
    new_col = []
    
    while i < len(testing[selected_column]):
#     while i < 10:
        #fill in blank cells so won't throw error
        testing[selected_column] = testing[selected_column].fillna("[]")
        """select a single row"""
        row = testing[selected_column][i]    
        row = [str(x) for x in row.split(',')]  
    #     print "original values:", row, len(row)
        new_list = []
        for item in row:
            """remove lingering json list formatting and convert unique values into list-
            this is instead of translating the json list into a dataframe as done above"""
            item = item.strip("[").strip("]").strip() 
            if item not in new_list:
                new_list.append(item)
            new_list = list(set(new_list))
        new_col.append(new_list)
    #     print "de-duplicated values: ", new_list, len(new_list)
        i += 1
        """assign cleaned up values to original dataframe """
    print len(new_col)
    testing[selected_column] = new_col
#         print new_col
    s +=1

affiliations
18751
contributors
18751
publishers
18751
tags
18751

In [23]:
#write the above dataframe, with cleaned up lists for contributors, affiliations, publishers, and tags, to a new excel doc
# testing.to_excel('SHARE_cleaned_lists.xlsx', index=False)
testing.to_csv('SHARE_cleaned_lists.csv', index=False)

In [2]:
#and then read in this document to analyze
# df = pd.read_excel('SHARE_cleaned_lists.xlsx', index=False)
df = pd.read_csv('SHARE_cleaned_lists.csv')

In [3]:
df.head()

,_id,_index,_score,_type,sort,affiliations,contributors,date,date_created,date_modified,...,registration_type,retracted,sources,subject_synonyms,subjects,tags,title,type,types,withdrawn
0,46243-B78-8F9,share_customtax_1,NaN,creativeworks,[1505096181545],"['MPIK/CERN', 'Chalmers University of Technolo...","['Dario Berzano', 'Guilherme Amadio', 'Pere Ma...",2017-08-25 00:00:00.000000,2017-09-11T02:16:21.545767+00:00,2017-09-11T02:16:26.21514+00:00,...,NaN,0,[DataCite MDS],[],[],"['cern.zenodo', 'cern', 'software']",Root - An Object-Oriented Data Analysis Framew...,software,"[software, creative work]",NaN
1,460D5-0F1-870,share_customtax_1,NaN,creativeworks,[1505096180930],"['MPIK/CERN', 'Chalmers University of Technolo...","['Dario Berzano', 'Guilherme Amadio', 'Pere Ma...",2017-08-25 00:00:00.000000,2017-09-11T02:16:20.930481+00:00,2017-09-11T02:16:20.930452+00:00,...,NaN,0,[DataCite MDS],[],[],"['cern', 'cern.zenodo', 'software']",Root - An Object-Oriented Data Analysis Framew...,software,"[software, creative work]",NaN
2,46065-8A1-338,share_customtax_1,NaN,creativeworks,[1505009985066],['University of California at San Diego (Unite...,"['S. C. Esener', 'M. A. Title', 'S. H. Lee', '...",2017-09-09 19:30:32.000000,2017-09-10T02:19:45.066231+00:00,2017-09-10T02:19:45.066215+00:00,...,NaN,0,[CrossRef],[],[],[''],One-Dimensional Silicon/PLZT Spatial Light Mod...,conference paper,"[conference paper, publication, creative work]",NaN
3,460C4-C4F-337,share_customtax_1,NaN,creativeworks,[1505009809752],['University of California (United States)'],"['R. C. Puetter', 'Scott D. Friedman', 'Barbar...",2017-09-09 13:41:12.000000,2017-09-10T02:16:49.752745+00:00,2017-09-10T02:16:49.752713+00:00,...,NaN,0,[CrossRef],[],[],[''],The University of California at San Diego Near...,conference paper,"[conference paper, publication, creative work]",NaN
4,461F6-6B8-F85,share_customtax_1,NaN,creativeworks,[1505009201018],"['Department of Philosophy', 'University of Ca...",['Donald Rutherford'],2017-09-09 06:46:18.000000,2017-09-10T02:06:41.018803+00:00,2017-09-10T02:06:41.018787+00:00,...,NaN,0,[CrossRef],[],[],['health policy'],Nietzsche as perfectionist,article,"[article, publication, creative work]",NaN

In [32]:
"""write all affiliations into a single list to review-
leave the quotations on to make it easy to distinguish what individual values in the raw data were"""
affiliations_all = []
for row in df['affiliations']:
    row = row.strip("[").strip("]").strip() 
    row = [str(x) for x in row.split(',')]
    for item in row:
        affiliations_all.append(item)

In [33]:
"""write all contributors into a single list to review"""
contributors_all = []
for row in df['contributors']:
    row = row.strip("[").strip("]").strip() 
    row = [str(x) for x in row.split(',')]
    for item in row:
        contributors_all.append(item)

In [34]:
"""write both to their own dataframe, count the number of occurrences, and save to csv file containing the term
and number of occurrences"""
affiliations_eval = pd.DataFrame(np.array(affiliations_all))
affiliations_eval.columns = ['affiliations']
affiliations_eval = affiliations_eval['affiliations'].value_counts().reset_index()
affiliations_eval.columns = ['affiliations', 'count']
affiliations_eval.to_csv('affiliations_list_eval.csv', index=False)

contributor_eval = pd.DataFrame(np.array(contributors_all))
contributor_eval.columns = ['contributors']
contributor_eval = contributor_eval['contributors'].value_counts().reset_index()
contributor_eval.columns = ['contributors', 'count']
contributor_eval.to_csv('contributors_list_eval.csv', index=False)

In [36]:
affiliations_eval.head(10)

                             affiliations  count
0                                      ''   6610
1    'UNIVERSITY OF CALIFORNIA SAN DIEGO'   4239
2                             'San Diego'   1906
3              'University of California'   1548
4                              'La Jolla'    901
5              'University of California'    702
6    'University of California San Diego'    556
7   'Scripps Institution of Oceanography'    458
8    'University of California-San Diego'    365
9                   'Univ. of California'    285

In [38]:
contributor_eval.head(10)

                             contributors  count
0   'Scripps Institution of Oceanography'   1623
1                             'San Diego'    963
2            'Rolling Deck to Repository'    846
3                                      ''    744
4      'SIO Geological Data Center (GDC)'    595
5                'Metabolomics Workbench'    583
6              'University of California'    535
7                     'Theodore Schwartz'    530
8            'Rolling Deck to Repository'    482
9                              'La Jolla'    446